<div class="modal fade <%= dataCanchaYhorario[4] %> <%= dataCanchaYhorario[2].action %>"
    id="formreserve"
    data-show="true"
    tabIndex="-1"
    aria-labelledby="exampleModalLabel"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-<%= dataCanchaYhorario[2].color %>">
                <h5 class="modal-title text-light font-weight-bold" id="exampleModalLabel">
                    <%= dataCanchaYhorario[2].headerTitle %>
                </h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loading d-none justify-content-center bg-info  rounded-bottom">
                    <div class="d-flex justify-content-center my-5">
                        <i class="fas fa-futbol fa-3x spinner-border border-0" role="status"></i>
                    </div>
                    <h6 class="read-only text-center mb-5">Procesando su reserva...</h6>
                </div>
                <form action="/api/reserves/create" method="post" class="form_reserve <%= dataCanchaYhorario[2].displayForm %> ">

                    <div class="row px-3 my-3 flex-nowrap justify-content-around selects">

                        <!-- Select Cancha -->
                        <div class="col-sm-12 col-md-6">
                            <label for="cancha" class="col-form-label">
                                Cancha
                            </label>
                            <select class="form-control cancha" name="cancha">
                                <option value="Seleccionar" disabled selected>Seleccionar</option>
                                <% for(cancha of dataCanchaYhorario[0]) { %>
                                    <option value=<%= cancha.number %>>Cancha N° <%= cancha.number %></option>
                                <% } %>
                            </select>
                            <% if(dataCanchaYhorario[4]) { %>
                                <% for(error of dataCanchaYhorario[3]) { %>
                                <span class="text-danger text-small d-block my-2">
                                    <% if(error.field == "cancha") { %><%= error.message %><% } %>
                                </span>
                                <% } %>
                            <% } %>
                            <p class="d-none error_cancha text-danger"></p>
                        </div>

                        <!-- Select Horario -->
                        <div class="col-sm-12 col-md-6">
                            <label for="horario" class="col-form-label">
                                Horario
                            </label>
                            <select class="form-control horario" name="horario">
                                <option value="Seleccionar" disabled selected>Seleccionar</option>
                                <% for(horario of dataCanchaYhorario[1]) { %>
                                    <% if(horario.reservado == false) { %>
                                        <option class="d-none horario cancha<%= horario.cancha %>" value=<%= horario.horario %> >
                                            <%= horario.horario %> Hs.
                                        </option>
                                    <% } else { %>
                                        <option class="d-none horario cancha<%= horario.cancha %>  text-danger" disabled>
                                            Reservado
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                            <% if(dataCanchaYhorario[4]) { %>
                                <% for(error of dataCanchaYhorario[3]) { %>
                                <span class="text-danger text-small d-block mb-2">
                                    <% if(error.field == "horario") { %><%= error.message %><% } %>
                                </span>
                                <% } %>
                            <% } %>
                            <p class="d-none error_horario text-danger"></p>
                        </div>
                    </div>

                    <!-- Input Nombre -->
                    <div class="col-12 form-group">
                        <label for="name">Nombre</label>
                        <input
                            class="form-control name"
                            type="text"
                            name="name"
                        />
                        <% if(dataCanchaYhorario[4]) { %>
                            <% for(error of dataCanchaYhorario[3]) { %>
                            <span class="text-danger text-small d-block mb-2">
                                <% if(error.field == "name") { %><%= error.message %><% } %>
                            </span>
                            <% } %>
                        <% } %>
                        <p class="d-none error_name text-danger"></p>
                    </div>

                    <!-- Input Apellido -->
                    <div class="col-12 form-group">
                        <label for="lastname">Apellido</label>
                        <input
                            class="form-control lastname"
                            type="text"
                            name="lastname"
                        />
                        <% if(dataCanchaYhorario[4]) { %>
                            <% for(error of dataCanchaYhorario[3]) { %>
                            <span class="text-danger text-small d-block mb-2">
                                <% if(error.field == "lastname") { %><%= error.message %><% } %>
                            </span>
                            <% } %>
                        <% } %>
                        <p class="d-none error_lastname text-danger"></p>
                    </div>

                    <!-- Input Email -->
                    <div class="col-12 form-group">
                        <label for="email">Email</label>
                        <input
                            class="form-control email"
                            type="email"
                            name="email"
                        />
                        <% if(dataCanchaYhorario[4]) { %>
                            <% for(error of dataCanchaYhorario[3]) { %>
                            <span class="text-danger text-small d-block mb-2">
                                <% if(error.field == "email") { %><%= error.message %><% } %>
                            </span>
                            <% } %>
                        <% } %>
                        <p class="d-none error_email text-danger"></p>
                    </div>

                    <!-- Input Telefono -->
                    <div class="col-12 form-group">
                        <label for="telefono" >Telefono</label>
                        <input
                            class="form-control telefono"
                            type="text"
                            name="telefono"
                            placeholder="Sin espacios. Ej: 156987654"
                        />
                        <% if(dataCanchaYhorario[4]) { %>
                            <% for(error of dataCanchaYhorario[3]) { %>
                            <span class="text-danger text-small d-block mb-2">
                                <% if(error.field == "telefono") { %><%= error.message %><% } %>
                            </span>
                            <% } %>
                        <% } %>
                        <p class="d-none error_telefono text-danger"></p>
                    </div>

                    <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-block btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>

                <!-- Modal Response -->
                <% if(!dataCanchaYhorario[3]) { %>
                <div class="modalResponse <%= dataCanchaYhorario[2].displayResponse %> flex-column">
                    <i class="fas fa-<%= dataCanchaYhorario[2].icon %> fa-3x text-<%= dataCanchaYhorario[2].color %>  mx-auto"></i>
                    <h4 class="text-center text-capitalized text-<%= dataCanchaYhorario[2].color %> m-3"><%= dataCanchaYhorario[2].title %></h4>
                    <p class="text-center text-muted m-3"><%= dataCanchaYhorario[2].content %></p>
                    <button class="btn btn-<%= dataCanchaYhorario[2].color %> mx-auto ">
                        <a style="text-decoration: none;color: white" href="http://localhost:3000">Volver a reservar</a>
                    </button>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>