<div class="container-fluid pt-5">
    <div class="d-flex reserve my-5" id="home">
        <div class="d-flex flex-column mx-auto text-center w-50">
            <h1 class="text-capitalize my-auto">reserva cancha y horario!</h1>
            <button class="btn btn-outline-success text-uppercase my-auto font-weight-bold"
                data-toggle="modal"
                data-target="#formreserve"
                role="button"
            >
                reservar
            </button>
        </div>
    </div>
    <div class="maincontent">
        <hr class="mx-auto w-50 bg-info shadow-lg">
        <div class="content my-5">
            <p class="text-center p-5"><%= dataPage.section.home.text %></p>
            <div class="auspiciantes d-flex flex-wrap justify-content-around my-5">
                <% for(sponsor of dataPage.section.home.sponsors) { %>
                <div class="auspiciante1 col-12 col-md-6 col-lg-3 mb-5">
                    <h6 class="text-center text-uppercase text-info"><%= sponsor.name %></h6>
                    <img class="img-fluid shadow-lg" src="/images/<%= sponsor.image %> " alt=<%= sponsor.name %> >
                </div>
                <% } %>
            </div>
        </div>
        <hr class="mx-auto w-50 bg-info shadow-lg">
    </div>

    <div class="d-none page" id="instalaciones">
        <h1 class="text-center mb-5 title border-bottom border-secondary pb-3">
            Nuestras Instalaciones
        </h1>
        <div class="row content">
            <div class="col-12 col-lg-4 px-5">
                <div class="Canchas">
                    <h5 class="text-info">Canchas</h5>
                    <p><%= dataPage.section.instalaciones.canchas %> </p>
                </div>
                <div class="Vestuarios">
                    <h5 class="text-info">Vestuarios</h5>
                    <p><%= dataPage.section.instalaciones.vesturarios %> </p>
                </div>
                <div class="Parrillas y Bar">
                    <h5 class="text-info">Parrillas y Bar</h5>
                    <p><%= dataPage.section.instalaciones.parrillasybar %> </p>
                </div>
            </div>
            <div class="imagesHome col-lg-8 d-flex flex-wrap justify-content-around">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="d-none page" id="cumpleaños">
        <h1 class="text-center mb-5 title border-bottom border-secondary pb-3">
            Festeja tu cumpleaños con nosotros
        </h1>
        <div class="row content">
            <div class="imagesHome col-lg-8 d-flex flex-wrap justify-content-around">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
            </div>
            <div class="images-header col-12 col-lg-4 px-5">
                <p><%= dataPage.section.cumpleaños %> </p>
            </div>
        </div>
    </div>

    <div class="d-none page" id="escuelita">
        <h1 class="text-center mb-5 title border-bottom border-secondary pb-3">
            Escuelita de Futbol Infantil
        </h1>
        <div class="row content">
            <div class="images-header col-12 col-lg-4 px-5">
            <p>
                <%= dataPage.section.escuelita %>
            </p>
            </div>
            <div class="imagesHome col-lg-8 d-flex flex-wrap justify-content-between">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
                <img class="col-md-6 col-lg-4" src="/images/sin_imagen.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="d-none page" id="promociones">
        <% if(dataPage.section.promociones.datos.length) { %>
            <% for(promocion of dataPage.section.promociones.datos) { %>
                <h1 class="p-5 py-3 text-center text-capitalize"><%= promocion.titulo %></h1>
                <p class="col-12 text-center text-break"><%= promocion.descripcion %> </p>
            <% } %>
        <% } else { %>
            <h1 class="p-5 display-1 text-center text-capitalize">No tenemos promociones por el momento</h1>
        <% } %>
    </div>

    <% if(typeof errors != "undefined") { %>
        <% dataCanchaYhorario = [canchayhorario[0],canchayhorario[1],options, errors, "show"] %>
        <%- include("modal.ejs") %>
    <% } else { %>
        <% dataCanchaYhorario = [canchayhorario[0],canchayhorario[1],options] %>
        <%- include("modal.ejs") %>
    <% } %>
</div>